.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #02006e;
  padding-top: 50px;
  height: 100vh;
  position: relative;
}

.part2 {
  background-color: #ffffff;
  font-weight: bold;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-bottom: 10px;
  width: 100%;
  max-width: 400px;
  height: 80%;
  align-items: center;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.signInText {
  color: #ffffff;
  margin-top: 50px;
  margin-left: 10px;
  padding: 0 20px;
  text-align: center;
  font-weight: bolder;
  font-size: 24px;
  /* align-self: flex-start; */
}

.welcomeText {
  font-weight: bolder;
  font-size: 24px;
  text-align: left;
  color: #2a27af;
  align-self: flex-start;
  padding: 0 12px;
}

.signInSubText {
  font-weight: bold;
  margin-bottom: 10px;
  color: #2a27af;
  align-self: flex-start;
  padding: 0 12px;
}

.label {
  margin-top: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding: 0 12px;
  font-weight: bold;
  color: #2a27af;
  align-self: flex-start;
}

.formField {
  display: flex;
  align-items: center;
  width: 100%;
}

.input {
  flex: 1;
  padding: 10px;
  margin-top: 0;
  border-bottom: 2px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
}

.iconContainer {
  position: relative;
  margin-right: -15px;
}

.icon {
  width: 24px;
  height: 24px;
}

.signInButton {
  width: 50%;
  background-color: #2a27af;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.forgotPassword {
  align-self: flex-end;
  margin-top: 3px;
  font-size: 14px;
  padding: 0 7px;
  font-weight: bold;
  color: #2a27af;
}

.horizontalStroke {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #2a27af;
}

.orSignInWith {
  font-weight: bold;
  margin: 0 10px;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.socialIcon {
  width: 24px;
  height: 24px;
  margin: 5px;
}

.signUpText {
  margin-top: 20px;
  color: #000000;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.signUpLink {
  color: #2a27af;
  cursor: pointer;
}

/* Media Queries for larger screens */
@media (min-width: 768px) {
  .container {
    padding-top: 20px;
    justify-content: center;
  }

  .part2 {
    width: 60%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: auto;
    padding: 40px;
  }

  .signInText {
    font-size: 32px;
    margin-top: 20px;
  }

  .welcomeText {
    font-size: 28px;
    padding: 0;
  }

  .signInSubText {
    font-size: 20px;
    margin-bottom: 20px;
    padding: 0;
  }

  .formField {
    width: 100%;
  }

  .input {
    width: calc(100% - 40px);
    padding: 15px;
    border-bottom-width: 3px;
  }

  .iconContainer {
    margin-right: -25px;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .signInButton {
    width: 30%;
    padding: 15px;
    font-size: 16px;
  }

  .forgotPassword {
    font-size: 16px;
  }

  .socialIcons {
    margin-top: 20px;
  }

  .socialIcon {
    width: 30px;
    height: 30px;
    margin: 10px;
  }

  .signUpText {
    font-size: 18px;
  }
}
